*{
    box-sizing: border-box;
}

/* body{
    background-color: gray;
} */

header{
    height: 110px;
    border: 1px solid black;
}

.section1-2-3{
    float: left;
    width: 33.3333%;
    height: 175px;
    border: 1px solid black;
 
}

.section1-2{
    float: left;
    width: 50%;
    height: 275px;
    border: 1px solid black;

}

footer{
    clear: both;
    height: 110px;
    border: 1px solid black;
}
